*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,body{
  font-family: montserrat;
  margin:0;
  padding:0;
}

body {
  min-height: 100vh;
  background:linear-gradient(115deg, #DB8622, #1B2A41);
}

/* Här börjar nav-headern */
nav{
  /* position: sticky; */
  background: #1B2A41 ;
  height: 80px;
  width: 100%;
  z-index: 1;
}

label.logo{
  color: #DB8622 ;
  font-size: 35px;
  line-height: 80px;
  padding-left: 50px;
  font-weight: bold ;
}



nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin:  0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px ;
  border-radius: 3px;
}

a.active,a:hover{
  background:#DB8622 ;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
/* Här slutar nav-headern */


.hela-formen{
  height: 100%;
  padding-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  
}


.innehåll{
  max-width: 1000px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  background-color: #1B2A41;
  box-shadow: 2em 2em 10em rgb(179, 175, 175);
}

.right{
  
  padding-top: 1.5em;
  text-align: center;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 1.6em;
  color: white;
}

.ring-oss{
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  border: 2px solid #DB8622;
  
}
.right li{
  padding-top: 1em;
}

.mail-oss{
  line-height: 1.6em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  border: 2px solid #DB8622;
  width: 400px;
}

.innehåll .titel{
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  font-family: 'poppins',sans-serif;
  position: relative;
  color: white;
}

.innehåll form .user-details{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  width: 50%;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2- 20px);
}
.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline:none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details{
  color: white;
}

label{
  color: white;
}


.user-details .input-box input:invalid{
  border-color:red ;
  border-width: 0.6em;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;

}
.user-details .input-box input:valid{
  border-color: green;
  border-width: 0.6em;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
}


.text-önskemål{
  margin-bottom: 3px;
}

.wrapper-önskemål{
  margin-bottom: 10px;
}

textarea{
  width: 50%;
  padding-top: 3px;
  padding-left: 3px;
  font-family: 'poppin', sans-serif;
  
}

.val{
margin-right: 1em;
}

.button{
  display:flex ;
  justify-content: center;
  margin: 15px;
  margin-top: 3em;
}

.button-innehåll{
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 5px;
  color: #1B2A41;
  font-size: 20px;
  font-weight: bold;
  background-color: #DB8622;
  cursor: pointer;
}




@media (min-width:1043px){
  nav ul li a{
    font-size: 16px;
  }
  
}

@media (max-width:1043px){

  .innehåll{
    border-radius: 0;
    box-shadow: none;
  }
 
  .hela-formen{
    padding-top: 0em;
    
  }

  .button{
    margin-top: 2em;
  }


  .right{
    padding-top: 1em;
    float: none;
    flex-direction: row;
    gap: 2em;
    color: white;
    padding-bottom: 4em;
  }
  
  .ring-oss{
    border: 2px solid #DB8622;
    width: 400px;
    
  }
  
  
  .mail-oss{
    font-size: 16px;
  }

  .innehåll form .user-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    width: 100%;
  }



  .user-details .input-box input{
    width: 100%;
  }
  
  textarea{
    width: 100%;
    font-size: 16px;
    padding: 0.3em;
  }
 

  
  label.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 24px;
    
  }
  body{
    overflow-x: hidden;
  }
 
  .checkbtn{
    display:block;
    position: relative;
    left: 0.3em;
  }

  .nav-ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#DB8622 ;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    margin-bottom: 0;
    z-index: 1;
  }
  
  nav{
    overflow: none;
    /* position: fixed; */
    
  }

  nav ul li{
    display: block;
    margin:50px 0 ;
    line-height: 30px;
    
    
  }
  nav ul li a{
    font-size: 24px;
  }
  a.active,a:hover{
    background:none ;
    color: #1B2A41;
  }
  #check:checked ~ ul{
    left: 0;
  }

  /* header media-q börjar här */
  .header{
    padding-top: 5em;
  }
 
}

