*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,body{
  font-family: montserrat;
  margin:0;
  padding:0;
}

body {
  min-height: 100vh;
}

/* Här börjar headern */
nav{
  background: #1B2A41 ;
  height: 80px;
  width: 100%;
  z-index: 1;
}

label.logo{
  color: #DB8622 ;
  font-size: 35px;
  line-height: 80px;
  padding-left: 50px;
  font-weight: bold ;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin:  0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px ;
  border-radius: 3px;
}

a.active,a:hover{
  background:#DB8622 ;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}



.första-header{
  /* background-color: #DB8622; */
  background-image: url(/desktop-tutorial/Meteor2.svg);
  background-size: cover;
  /* background-color: #ebe7db; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding-top: 5em;
  padding-bottom: 10em;
}

.header{
}
.below-header{
  font-size: calc(1rem + 1vw);
  margin-bottom: 2em;
  background-color: #1B2A41;
  /* border: 2px solid red; */
  position: relative;
  float: left;
  top: 1em;
  padding: 1em;
  border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
} 
.info-header{
  font-size: calc(1rem + 1vw);
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  background-color: #DB8622;
  float: right;
  padding: 1em;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
  /* margin-right: 2%;  */

}

.datum-header{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #1B2A41;
  text-align: center;
  gap: 2em;
}

.knapp-flex{

}


.boka-knapp{
  position: relative;
  top: 4em;
  border: none;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border-radius: 2em;
  background-color: #DB8622;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.knapp-a:hover{
  background: none;
}
/* Här slutar header */



/* Här börjar innehållet för talarna */

header>h1{
  padding-top: 1%;
  text-align: center;
  font-size: calc(1.4rem + 1vw);
  font-family: manrope ;
  color: grey;
  
}

.row{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 3em;
  flex-wrap: wrap;
  padding-top: 3em;
  padding-bottom: 3em ;
  padding-left: 5em;
  padding-right: 5em;
}

.vemnamn{
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}

.yrke{
  width: 300px;
  /* line-height: 25px; */
  font-size: 16px;
}

/* Här slutar innehållet för talarna */






/* Här börjar innehållet för dagarna */
.hela-dagen{
  background-color: #DB8622;
  width: 100%;
}

.dagen-info{
  font-family: manrope;
  font-size: 40px;
  font-weight: 400;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  color: white;
  text-align: center;
  /* border: 2px solid white; */
  background-color: #1B2A41;
}

.container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: wrap ;
  color: white;
  gap: 5em;
  margin-bottom: 2em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
}

.dag{
  padding: 2em;
  text-align: center;
  font-size: 40px;
  margin-left: 2%;
}
.händelse{
  /* text-align: center; */
  /* border-bottom: 2px solid #1B2A41; */
  /* border-left: 2px solid #1B2A41; */
  line-height: calc(1rem + 2em);
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  font-size: 25px;
  
}
.sista{
  border-left: 3px solid #1B2A41;
  position: relative;
  bottom: 1em;
}
.första{
  border-right: 3px solid #1B2A41;
}

hr{
  border-color: #1B2A41;
}
/* Här slutar innehållet */



@media (min-width:1043px){
  nav ul li a{
    font-size: 16px;
  }
  
}

@media (max-width:1043px){
  label.logo{
    position: fixed;
    padding-right: 2em;
    margin-bottom: 2em;
    
  }
  .checkbtn{
    display: block;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#DB8622 ;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    margin-bottom: 0;
  }
  
  nav{
    overflow: none;
    position: fixed;
  }

  nav ul li{
    display: block;
    margin:50px 0 ;
    line-height: 30px;
    
  }
  nav ul li a{
    font-size: 24px;
  }
  a.active,a:hover{
    background:none ;
    color: #1B2A41;
  }
  #check:checked ~ ul{
    left: 0;
  }

  /* header media-q börjar här */
  .header{
    padding-top: 5em;
  }
 
}

