*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html,body{
  font-family: montserrat;
  margin:0;
  padding:0;
}

body {
  min-height: 100vh;
}

/* Här börjar headern */
nav{
  background: #1B2A41 ;
  height: 80px;
  width: 100%;
  z-index: 1;
}

label.logo{
  color: #DB8622 ;
  font-size: 35px;
  line-height: 80px;
  padding-left: 50px;
  font-weight: bold ;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin:  0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px ;
  border-radius: 3px;
}

a.active,a:hover{
  background:#DB8622 ;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

header{
  background-color: #DB8622;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding-top: 5em;
  padding-bottom: 10em;
}

.header{
  height: 100%;
}
.below-header{
  font-size: calc(1rem + 1vw);
  margin-bottom: 2em;
} 
.info-header{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;

}

.datum-header{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #1B2A41;
  text-align: center;
}


.boka-knapp{
 border: none;
 padding-left: 2em;
 padding-right: 2em;
 padding-top: 0.6em;
 padding-bottom: 0.6em;
 border-radius: 2em;
 background-color: #1B2A41;
 color: white;
 font-size: 16px;
 cursor: pointer;
}

/* Här slutar header */



/* Här börjar innehållet */

.wrapper {
  width: 100%;
  height: 100vh;

}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: wrap ;
  flex-shrink: 1;
  color: white;
  gap: 2em;
  overflow: visible;
  margin-bottom: 2em;
  background-image: url(/desktop-tutorial/Circuit\ Primary.svg);
  background-size: cover;
  padding-top: 4em;
  padding-bottom: 4em;
}


.prod{
  padding-top: 10em;
  display: block;
  border: 2px solid white;
  padding: 10em;
}

.info-text{
  padding-bottom: 5em;
}
 p{
  width: 400px;
  text-align: center;
  margin-top: 2em;
}

.rubrik{
  display: block;
  text-align: center;
  bottom: 4em;
}

/* Här slutar innehållet */



@media (min-width:1043px){
  nav ul li a{
    font-size: 16px;
  }
  
}

@media (max-width:1043px){
  label.logo{
    position: fixed;
    padding-right: 2em;
    margin-bottom: 2em;
    
  }
  .checkbtn{
    display: block;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#DB8622 ;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    margin-bottom: 0;
  }
  
  nav{
    overflow: none;
    position: fixed;
  }

  nav ul li{
    display: block;
    margin:50px 0 ;
    line-height: 30px;
    
  }
  nav ul li a{
    font-size: 24px;
  }
  a.active,a:hover{
    background:none ;
    color: #1B2A41;
  }
  #check:checked ~ ul{
    left: 0;
  }

  /* header media-q börjar här */
  .header{
    padding-top: 5em;
  }
 
}

